@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    @ViewBag.Greetings
    <p>
        We're going to have an exciting party <br/>
        <a asp-action="InviteForm">Navigate to Invite</a>
    </p>
</body>
</html>
